<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div class="bottomBox">
    <div class="innerBox">
        <div class="leftInner">
            <div class="panelOne">
                <span>联系我们</span>
                <span>|</span>
                <span>网站地图</span>
            </div>
            <div class="panelTwo">
                <span>网站标识码：6327000002</span>
                <p><img src="./assets/images/03.png" alt=""><span>青公网安备63270102000033号</span></p>
                <span>青ICP备09000143号-2</span>
            </div>
            <div class="panelThree">
                <span>版权所有：青海省玉树藏族自治州政府网</span>
                <span>联系电话：0976-8827012</span>
            </div>
        </div>
        <div class="rightInner">
            <img class="imgOne" th:src="@{/assets/images/01.png}" alt="">
            <img class="imgTwo" th:src="@{/assets/images/02.png}" alt="">
        </div>
    </div>
</div>